<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login - Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/login.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{% url 'inicio' %}">Alex Smith</a></h1>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="{% url 'inicio' %}" >Inicio</a></li>
          <li><a href="{% url 'registro' %}" >Registro</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Login</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Login</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <div class="login-wrapper">
          <div class="login-side">
              <a href="#" title="Logo">
                  <img class="logo" src="assets/logo.png" alt="Logo">
              </a>
              <div class="my-form__wrapper">
                  <div class="login-welcome-row">
                      <h1>{{ mensaje }} &#x1F44F;</h1>
                      <p>Por Favor ingrese sus credenciales!</p>
                  </div>
                  <form class="my-form" method = "POST">
                      {% csrf_token %}
                      {% comment %} <div class="divider">
                          <div class="divider-line"></div>
                          Or
                          <div class="divider-line"></div>
                      </div> {% endcomment %}
                      <div class="text-field">
                          <label for="email">Usuario/Email:</label>
                           {{ form_login.usuario }} 
                           {% comment %} <input
                              type="email"
                              id="email"
                              name="email"
                              placeholder="Your Email"
                              required
                          >  {% endcomment %}
                          <img
                              alt="Email Icon"
                              title="Email Icon"
                              src="assets/email.svg"
                          >
                      </div>
                      <div class="text-field">
                          <label for="password">Clave:</label>
                          {{ form_login.clave }}
                          {% comment %} <input
                              id="password"
                              type="password"
                              name="password"
                              placeholder="Your Password"
                              title="Minimum 6 characters at 
                                  least 1 Alphabet and 1 Number"
                              pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
                              required
                          > {% endcomment %}
                          <img
                              alt="Password Icon"
                              title="Password Icon"
                              src="assets/password.svg"
                          >
                      </div>
                      <input type="submit" class="my-form__button" value="Login">
                      <div class="my-form__actions">
                          <div class="my-form__row">
                              <span>Did you forget your password?</span>
                              <a href="#" title="Reset Password">
                                  Reset Password
                              </a>
                          </div>
                          <div class="my-form__signup">
                              <a href="#" title="Create Account">
                                  Create Account
                              </a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="info-side">
              <img src="assets/mock.png" alt="Mock" class="mockup">
              <div class="welcome-message">
                  <h2>Navitron Maps! 👋</h2>
                  <p>
                     Your ultimate guide to navigating the world 
                     and discovering new places with ease.
                  </p>    
              </div>
          </div>
      </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.umd.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>