<!DOCTYPE html>
<html lang="es">
<head>
  
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/estilos.css">

    <title>Registro</title>
</head>
<body>
  <nav>
    <ul>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
    </ul>
</nav>
<div class="content">
  {% block content %}
  {% endblock %}
</div>
    <h1>Registro</h1>
    <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="imagen">Imagen:</label><br>
        <input type="file" id="imagen" name="imagen"><br><br>

        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br><br>
        
        <label for="apellido">Apellido:</label><br>
        <input type="text" id="apellido" name="apellido"><br><br>
        
        <label for="cedula">Cédula:</label><br>
        <input type="text" id="cedula" name="cedula"><br><br>
        
        <label for="correo">Correo Electrónico:</label><br>
        <input type="email" id="correo" name="correo"><br><br>
        
        <label for="usuario">Usuario:</label><br>
        <input type="text" id="usuario" name="usuario"><br><br>
        
        <label for="contraseña">Contraseña:</label><br>
        <input type="password" id="contraseña" name="contraseña"><br><br>
        
        <label for="habilidades">Habilidades:</label><br>
        <textarea id="habilidades" name="habilidades" rows="4" cols="50"></textarea><br><br>
        
        <label for="herramientas">Herramientas de Dominio:</label><br>
        <textarea id="herramientas" name="herramientas" rows="4" cols="50"></textarea><br><br>
        
        <button type="submit">Registrarse</button>
    </form>
</body>
</html>
