{% extends 'layout.html' %}

{% block content%}

<h1>Post</h1>

{% for post in posts %}

<div class="p-3">
    <div class="card card-body bg-black">
        <div class="row">
            <div class="col-3">
                <img src="{{post.image.url}}" alt="{{post.titulo}}"  class="img-fluid">
            </div>
            <div class="col-9">
                <h2>{{post.titulo}}</h2>
                <p>{{post.descripcion|striptags|truncatechars:100}}</p>
                <p>{{post.fecha|date:'d M Y'|upper}}</p>

                <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">{{post.titulo}}</a>
            </div>
        </div>
    </div>
</div>






{% endfor %}

{%endblock%}