{% extends 'layout.html'%}

{% block content%}

<div class="text-center">
    <h1>{{post.titulo}}</h1>
<h3 class="my-2 h5 text-muted">{{post.fecha|date:'d M Y'|upper}}</h3>

<img src="{{post.image.url}}" alt="{{post.titulo}}" class="img-fluid">

<div class="my-4">
    <p>{{post.descripcion|safe}}</p>
</div>
</div>


{%endblock%}