{% extends 'layout.html'%}

{% block content%}

{% load static %}

<header class="row bg-black">
    <div class="col-md-4">
      <img src="{% static 'portfolio/profile-img.jpg' %}" alt="Perfil de Jose Miguel Botero" class="img-fluid">
    </div>
    <div class="col-md-8 align-self-center">
      <h1>I am <strong>Jose Miguel Botero</strong></h1>
      <h3>I am a Java Full Stack Developer</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit aliquid quos officia fugit repudiandae expedita porro unde autem. Fuga unde, molestiae similique eligendi exercitationem quas totam corrupti facilis magnam sint distinctio excepturi quod cumque hic, corporis consequatur dolor sed aliquid nisi sunt vel! Iure doloremque quod architecto laudantium, debitis ea explicabo obcaecati ut, cumque commodi ipsam culpa non tenetur excepturi harum ratione consequuntur velit facilis cum voluptatum optio, sunt nihil! Quasi fuga eligendi qui labore culpa quidem facere dolorem quo obcaecati laboriosam rem rerum, ipsam accusamus magnam? Placeat iure, adipisci at ullam natus odio, quisquam molestias tempora optio impedit facere..</p>
      <a href="{% static 'portfolio/cv.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3">Descargar CV</a>
    </div>
  </header>
  
<div class="row my-4 text-center">

    <h3>My Projects</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus perspiciatis quaerat aspernatur nemo nisi sunt, distinctio impedit pariatur ipsum optio?</p>

    {%for project in  projects%}

    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <div class="card-body">
                <h2 class="text-white">{{project.titulo}}</h2>
                <p class="text-white">{{project.descripcion}}</p>
                <img src="{{project.image.url}}" alt="{{project.titulo}}" class="img-img-top">
                <div class="mt-3">
                    {% if project.url %}
                        <a href="{{project.url}}" class="btn bg-light rounded-0 btn-sm" target="_blank">{{project.url}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    

{%endfor%}

{%endblock %}
</div>

